#define VERSION_MACRO
macro_ver: macro_ver {
compatible = "zmk,behavior-macro";
#binding-cells = <0>;
tap-ms = <30>;
wait-ms = <30>;
bindings = <&macro_tap &kp N2 &kp N0 &kp N2 &kp N4 &kp N1 &kp N1 &kp N1 &kp N9 &kp N2 &kp N1 &kp N5 &kp N6 &kp C &kp E &kp T &kp MINUS &kp M &kp A &kp S &kp T &kp MINUS &kp N6 &kp N9 &kp N3 &kp N2 &kp A &kp N6 &kp C &kp RET>;
};
